.snakemake
*.log
resources/reads/
resources/230203_M05658_0007_000000000-KPHPC/
resources/*bam
resources/reference/*
results_amplicon/*
results/
.test/resources/reference/*
*docx
*.zip 
resources/*23*
resources/rev_comp.ipynb*
*ipynb_checkpoints*
config/metadata.tsv
docs/ampseeker-results/_build/