.snakemake
*.log
resources/25*
resources/reads/
resources/230203_M05658_0007_000000000-KPHPC/
resources/*bam
resources/reference/*
results_amplicon/*
results/
.test/resources/reference/*
*docx
*.zip 
resources/*23*
resources/rev_comp.ipynb*
*ipynb_checkpoints*
config/metadata.tsv
docs/ampseeker-results/_build/
docs/ampseeker-results/notebooks/
.test/docs/
html*
_build/
resources/bcl_output*
resources/14*
results_vigg002*
results*
workflow/notebooks/misc
*__pycache*
ms_results/
misc/
old*/
