# Dataset main configurations
dataset: nomads16
panel: nomads16
cohort-columns:
  - library_name
targets: config/nomads16.bed
metadata: config/nomads16-metadata.tsv

platform: nanopore
from-bcl: False
# Directory of Illumina Miseq Run, can be empty 
illumina-dir: ''

# Genome fasta reference files
reference-fasta: resources/reference/PlasmoDB-52_Pfalciparum3D7_Genome.fasta
reference-gff3: resources/reference/PlasmoDB-52_Pfalciparum3D7.gff
reference-snpeffdb: Plasmodium_falciparum
custom-snpeffdb: True

# Specify whether to run quality-control analyses
quality-control:
  sample-total-reads-threshold: 250
  amplicon-total-reads-threshold: 1000

  coverage: True
  stats: True
  multiqc: True

# Specify whether to run generic analyses
analysis:  
  sample-map: False # needs lat and longs
  population-structure: True
  genetic-diversity: True
  allele-frequencies: True

# Specify whether to build jupyter results book
build-jupyter-book: True
