# This file should contain everything to configure the workflow on a global scale.
# In case of sample based data, it should be complemented by a samples.tsv file that contains
# one row per sample. It can be parsed easily via pandas.
dataset: test-fastqauto
metadata: config/metadata.tsv
cohort-columns:
  - taxon
  - location
targets: config/ag-vampir.bed
panel: generic

# Directory of Illumina Miseq Run
illumina-dir: resources/230629_M05658_0009_000000000-DL7P9/

# Specify whether reference  provided is amplicon or wholegenome sequence data
# Genome fasta reference files
reference-name: AgamP4
reference-fasta: resources/reference/AgamP4.fa
reference-gff3: resources/reference/Anopheles-gambiae-PEST_BASEFEATURES_AgamP4.12.gff3
reference-snpeffdb: Anopheles_gambiae
custom-snpeffdb: False

# Specify whether to convert bcl files to fastq
# or whether we provide fastq data in the metadata / or auto naming 
bcl-convert: False
fastq:
  auto: True

# Specify whether to run quality-control analyses
quality-control:
  sample-total-reads-threshold: 250
  amplicon-total-reads-threshold: 1000

  fastp: True
  coverage: True
  qualimap: False
  stats: True
  multiqc: True


# Specify whether to run generic analyses
analysis:  
  igv: True
  sample-map: False # needs lat and longs
  pca:  True
  genetic-diversity: True
  allele-frequencies: True

# Specify whether to build jupyter results book
build-jupyter-book: True
