dataset: test-fastqmetadata
metadata: config/metadata.tsv
cohort-columns:
   - location
   - taxon
targets: config/ag-vampir.bed
panel: generic

# Directory of Illumina Miseq Run
illumina-dir: ""

# Genome fasta reference files 
reference-name: 'AgamP4'
reference-fasta: resources/reference/AgamP4.fa
reference-gff3: resources/reference/Anopheles-gambiae-PEST_BASEFEATURES_AgamP4.12.gff3
reference-snpeffdb: Anopheles_gambiae
custom-snpeffdb: True

# Specify whether to convert bcl files to fastq
bcl-convert: False
fastq:
  auto: False

# Specify whether to run quality-control analyses
quality-control:
  fastp: True
  coverage: True
  qualimap: False
  stats: True
  multiqc: True

  sample-total-reads-threshold: 250
  amplicon-total-reads-threshold: 1000

# Specify whether to run generic analyses
analysis:  
  igv: True
  sample-map: True
  population-structure: True
  genetic-diversity: True
  allele-frequencies: True

# Specify whether to build jupyter results book
build-jupyter-book: False
